.DS_Store
/vendor/
node_modules/
npm-debug.log
yarn-error.log
/public/build

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

Homestead.json
/.vagrant
.phpunit.result.cache

/caddy
frankenphp
frankenphp-worker.php

/database/mysql-database-test/*
database/mysql-database-test/*
database/mysql-database-test-data/*
/database/mysql-database-test-data/*
/database/mysql-database/*
/database/redis-database/*
/storage/s3-data/*
/storage/*
storage/mail-tata/*