.navbar {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    background: var(--section-bg);
    border-bottom: 1px solid var(--section-border-color);
    padding: 10px 15px;
    box-shadow: 1px 1px 5px rgb(var(--section-shadow), 0.1);
}
.navbar .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar .nav-item {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
}
.navbar .nav-link {
    border-radius: 9999px;
    text-decoration: none;
    transition: all 0.2s;
    display: inline-block;
    color: var(--gray-700);
    font-weight: 600;
    padding: 0 10px;
}
.navbar .nav-link:active {
    transform: scale(0.94);
}
.navbar .nav-link.active {
    transform: scale(0.94);
    color: var(--info-500);
}
.navbar .nav-search {
    position: relative;
}
.navbar .nav-search .form {
    padding-right: 40px;
}
.navbar .nav-search button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    height: 98%;
    width: 36px;
    transition: all 0.2s;
    border-radius: var(--rounded-circle);
    margin-right: 6px;
    right: 0;
    color: var(--gray-700);
}
.navbar .nav-search button:hover {
    background: rgb(var(--black-rgb), 0.06);
}
.navbar .nav-search button:active {
    transform: scale(0.94);
    background: rgb(var(--black-rgb), 0.1);
}
