.sitewide-alert {
    z-index: 1;
    position: relative;
    left: 0;
    top:47px;
    right: 0;
    padding: 10px 0px;
}

.alert.alert-wide {
    padding: 10px 14px;
    border-radius: 0 !important;
    border: none !important;
    text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
    width: 100%;
}
@media screen and (max-width: 63.99875em) {
    .sitewide-alert {
        padding: 10px 0px;
    }
}