.tabs {
    display: flex;
    appearance: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs.flex-dir-column .tab-link {
    text-align: left !important;
    padding: 8px 20px;
}
.tabs .tab-item,
.tabs .tab-link {
    display: block;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabs .tab-link {
    color: var(--body-color);
    text-align: center;
    padding: 8px 10px;
    border-radius: var(--rounded-lg);
    border: 1px solid transparent;
    font-weight: 600;
}
.tabs .tab-link:hover {
    background: rgb(0, 0, 0, 0.04);
}
.tabs .tab-link:active {
    background: rgb(0, 0, 0, 0.08);
}
.tabs .active,
.tabs .active:hover {
    border-color: rgb(var(--button-border-color), 0.2);
    text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
    background: var(--info-600);
    color: #ffffff !important;
}
