/*
Testing fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('assets/css/foundation.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.6.1/preflight.min.css");
@import url('assets/css/utilities.css');
@import url('assets/css/components/navbar.css');
@import url('assets/css/components/sidebar.css');
@import url('assets/css/components/card.css');
@import url('assets/css/components/collapsible.css');
@import url('assets/css/components/button.css');
@import url('assets/css/components/input.css');
@import url('assets/css/components/pagination.css');
@import url('assets/css/components/progress-bar.css');
@import url('assets/css/components/tooltip.css');
@import url('assets/css/components/dropdown.css');
@import url('assets/css/components/modal.css');
@import url('assets/css/components/tabs.css');
@import url('assets/css/components/footer.css');
@import url('assets/css/components/table.css');
@import url('https://kit-pro.fontawesome.com/releases/v6.4.2/css/pro.min.css');

* *::before *::after {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: Lexend, Sans-Serif !important;

}

.card.avatar {
    width: 300px;
}

.ColorPickerItem {
    border-color: var(--section-border-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.selection-circle .language {
    height: 25px !important;
    width: 25px !important;
}

.card {

    flex-direction: columm;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0, .12549);
    margin-bottom: 16px;
    border-radius: 2px;
}

.ColorPickerItem:hover {
    border-color: var(--info-600);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.ColorPickerItem.active {
    border-color: var(--info-600);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.chat-container {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -ms-transform: none;
    position: fixed;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: var(--section-bg);
    bottom: 0;
    box-shadow: 0 1px 4px rgba(25, 25, 25, .75);
    height: 360px;
    width: 260px;
    visibility: hidden;
    z-index: 1040;
    line-height: 1.3em;
    padding-right: 8px;
}

.chat-container .chat-body .card-chat .card-chat-body .no-corners {
    border-radius: 0px;
}

.language-active {
    background: rgb(var(--sidebar-active-bg));
    border-color: rgb(var(--sidebar-active-bg));
}

.language-active .selection-circle {
    background: var(--info-600);
    border-color: var(--info-600);
    text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgb(var(--section-shadow), 0.1);
}

.chat-container .chat-body {
    background-color: var(--section-bg);
    border-radius: 0px;
    color: #fff;
    height: 292px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.chat-container .chat-header .chat-header-action {
    padding-right: 8px;
}

.chat-windows-header .chat-header-action .chat-link-icon {
    float: right;
    margin-left: 6px;
}

.chat-link-icon {
    position: 0 -100px;
    size: 40px auto;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}


.chat-windows-header .chat-caption-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 14px;
}

.chat-container .chat-header .chat-header-action {

    padding-right: 8px;

}

.chat-windows-header .chat-header-action {

    float: right;
    padding: 8px 0 5px 8px;
    padding-right: 12px;

}

.chat-close-icon {
    background-position: 0 -140px;
}

.chat-close-icon,
.chat-default-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.chat-windows-header {
    background-color: var(--info-500);
    color: #fff;
    width: 260px;
}

.chat-container.chat-vis {
    visibility: visible;
}

.chat-container .chat-main {
    position: relative;
}

.chat-container .chat-header {
    position: relative;
    z-index: 2020;
}

.chat-container .chat-header .chat-header-label {
    width: 66%;
    width: calc(100% - 86px);
    padding: 8px 0 5px 8px;
}

.chat-container .chat-header .chat-header-title {
    width: 100%;
}

.message {
    margin-bottom: 10px;
}

.sender {
    font-weight: bold;
}

.content {
    margin-top: 5px;
}

.footer {
    bottom: 20px;
    width: 100%;
    z-index: 0;
    height: auto;
}


.navbar {
    z-index: 3;
}

.sidebar {
    z-index: 2;
}

#nprogress .bar {
    z-index: 9999;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html.nprogress-busy {
    z-index: 9999;
}

html,
body {
    height: 100%;
    margin: 0;
    min-height: -webkit-calc(100% - 100px);
    /* Chrome */
    min-height: -moz-calc(100% - 100px);
    /* Firefox */
    min-height: calc(100% - 100px);
    /* native */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.mini-text {
    font-size: 11px;

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

.forum-button {
    padding: .4rem .4rem;
    font-size: .875rem;
    line-height: 0;
    border-radius: .1rem;
    height: 24px;
    padding-top: 0.85ch;
    font-size: 15px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.text-upgrade {
    color: var(--sidebar-upgrade-color);
}

.action-menu {
    height: 17px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 10px
}


.btn-game {
    background: linear-gradient(91.23deg, #00bf2a 31.94%, #00851d 92.5%);
    background-size: auto;
    background-size: 130% 130%;
    border: 2px solid rgba(0, 0, 0, .3) !important;
    font-size: 32px;
    padding: 0;
}

.reg-card {
    color: white;
    background: url('/assets/css/components/card-img/landing-footer.ebbd0cdc.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.stat-card {
    color: white;
    background: url('/assets/css/components/card-img/Aeo-blob-card.2erv2jt234.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wave-card {
    color: white;
    background: url('/assets/css/components/card-img/AeoVictorious-Reference-2rndsie-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .side-link.is-disabled {
    opacity: .6;
    cursor: default;
    pointer-events: none
}

.action-menu:hover {
    height: inherit;
    background: rgb(var(--danger-600-rgb), 0.06);
    flex-shrink: 0;
    border-top-right-radius: var(--rounded-circle);
    border-bottom-right-radius: var(--rounded-circle);

}

.avaimg {
    width: 34px;
    background: var(--gray-300);
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -2px;
}

html,
body {
    height: 100%;
}

body {
    font-weight: 500;
    background: var(--body-bg);
    color: var(--body-color) !important;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: -0.5px;
}