.card {
    background: var(--section-bg);
    border: 1px solid var(--section-border-color);
    box-shadow: 0 1px 2px rgb(var(--section-shadow), 0.1);
    border-radius: var(--rounded-lg);
}
.card-body {
    padding: 18px;
}
.card-inner {
    background: var(--input-bg);
    border-color: var(--input-border-color);
}

.card-five-star {
    background: rgb(var(--warning-700-rgb), 20%);
    border-color: var(--warning-700);
    border-bottom: 4px solid var(--warning-700);
}
.card-four-star {
    background: rgb(var(--upgrade-400-rgb), 20%);
    border-color: var(--upgrade-400);
    border-bottom: 4px solid var(--upgrade-400);
}
.card-three-star {
    background: rgb(var(--success-500-rgb), 20%);
    border-color: var(--success-500);
    border-bottom: 4px solid var(--success-500);
}
.card-two-and-one-star {
    background: var(--input-bg);
    border-color: var(--input-border-color);
    border-bottom-width: 4px;
}

.card-status {
    border-bottom-width: 4px;
}
.card-status.online {
    border-bottom-color: var(--success-500);
}
