:root {
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --black: #000000;
    --black-rgb: 0, 0, 0;

    --success-500: #43a047;
    --success-500-rgb: 67, 160, 71;
    --success-400: #4caf50;
    --success-300: #66bb6a;

    --danger-600: #e53935;
    --danger-600-rgb: 229, 57, 53;
    --danger-500: #f44336;
    --danger-400: #ef5350;
    --danger-300: #e57373;

    --upgrade-300: #b455c5;
    --upgrade-400: #ab47bc;
    --upgrade-400-rgb: 171, 71, 188;
    --upgrade-500: #9c27b0;

    --love-500: #e91e63;

    --warning-600: #fdd835;
    --warning-700: #fbc02d;
    --warning-700-rgb: 251, 192, 45;
    --warning-800: #f9a825;

    --info-400: #29b6f6;
    --info-500: #03a9f4;
    --info-600: #039be5;

    --secondary-400: #a9a9a9;
    --secondary-500: #9e9e9e;
    --secondary-600: #757575;

    --gray-100: #f5f5f5;
    --gray-200: #eeeeee;
    --gray-300: #e0e0e0;
    --gray-400: #bdbdbd;
    --gray-500: #9e9e9e;
    --gray-600: #757575;
    --gray-800: #424242;

    --btn-gray-color: #424242;

    --body-bg: #f5f5f5;
    --body-color: #3d3d3d;

    --section-bg: #ffffff;
    --section-bg-rgb: 255, 255, 255;
    --section-border-color: #d7d7d7;
    --section-shadow: 0, 0, 0;

    --input-bg: #f5f5f5;
    --input-border-color: #cbcbcb;

    --sidebar-active-bg: 3, 155, 229, 0.2;
    --sidebar-active-color: #039be5;

    --sidebar-upgrade-bg: 171, 71, 188, 0.2;
    --sidebar-upgrade-color: #ab47bc;

    --button-border-color: 0, 0, 0;

    --pagination-color: #424242;

    --tooltip-bg: #424242;

    --like-btn-hover-bg: 233, 30, 99, 0.1;

    --rounded-none: 0px;
    --rounded-sm: 4px;
    --rounded-md: 6px;
    --rounded-lg: 8px;
    --rounded-xl: 10px;
    --rounded-2xl: 12px;
    --rounded-circle: 9999px;
}
