@import url("https://raw.githubusercontent.com/Buom01/snowflakes.css/master/style.min.css");
:root {
    --white: #ffffff;
    --white-rgb: 0, 0, 0;
    --black: #ffffff;
    --black-rgb: 255, 255, 255;

    --success-500: #497174;
    --success-500-rgb: 67, 160, 71;
    --success-400: #73b1b6;
    --success-300: #7ebfc4;

    --danger-300: #ef5350;
    --danger-400: #f44336;
    --danger-500: #e53935;
    --danger-600: #d32f2f;
    --danger-600-rgb: 211, 47, 47;

    --upgrade-300: #b455c5;
    --upgrade-400: #ab47bc;
    --upgrade-400-rgb: 171, 71, 188;
    --upgrade-500: #9c27b0;

    --love-500: #e91e63;

    --warning-600: #ffaa43;
    --warning-700: #fea538;
    --warning-gold: #FCAF3C;
    --warning-700-rgb: 254, 165, 56;
    --warning-800: #fe9c25;

    --info-400: #ff9843;
    --info-500: #fe7038;
    --info-600: #eb6440;
    --info-600-rgb: 235,     100, 64;

    --secondary-400: #737373;
    --secondary-500: #6d6d6d;
    --secondary-600: #5d5d5d;

    --gray-100: #f5f5f5;
    --gray-200: #eeeeee;
    --gray-300: #e0e0e0;
    --gray-400: #bdbdbd;
    --gray-500: #9e9e9e;
    --gray-600: #818181;
    --gray-800: #424242;

    --btn-gray-color: #bdbdbd;

    --body-bg: #EFF5F5;
    --body-color: #497174;

    --section-bg: #D6E4E5;
    --section-border-color: #c9e4e6;
    --section-shadow: 0, 0, 0;

    --input-bg: #497174;
    --input-border-color: #497174;

    --sidebar-active-bg: 3, 155, 229, 0.2;
    --sidebar-active-color: #039be5;

    --sidebar-upgrade-bg: 171, 71, 188, 0.2;
    --sidebar-upgrade-color: #ab47bc;

    --button-border-color: 255, 255, 255;

    --pagination-color: #c2c2c2;

    --tooltip-bg: #424242;

    --like-btn-hover-bg: 233, 30, 99, 0.1;

    --rounded-none: 0px;
    --rounded-sm: 4px;
    --rounded-md: 6px;
    --rounded-lg: 8px;
    --rounded-xl: 10px;
    --rounded-2xl: 12px;
    --rounded-circle: 9999px;
}
