@import url("https://unpkg.com/bulmaswatch/lumen/bulmaswatch.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");
@import url("https://rawcdn.githack.com/hung1001/font-awesome-pro/8af0edd/css/all.css");

* {
  font-family: "Lexend Deca", sans-serif;
}

button {
  font-family: "Lexend Deca", sans-serif;
}

#app {
    height: 100vh;
}

body {
  background: #ededed !important;
}

footer {
  background: #ededed !important;
}

.fad {
  width: 30px;
  text-align: center;
}

.card {
  background: rgb(255, 255, 255) !important;
  border-color: #d8d5d5 !important;
  border-width: auto;
}

.navbar {
  background: #1b1b1b !important;
  border-color: #1b1b1b !important;
  -color: rgb(27, 27, 27) !important;
}

.navbar-item {
  background: #1b1b1b !important;
  -color: rgb(27, 27, 27) !important;
}

.navbar-dropdown {
  background: #1b1b1b !important;
  -color: rgb(27, 27, 27) !important;
}

.navbar-link {
  background: #1b1b1b !important;
  -color: rgb(27, 27, 27) !important;
}

.notification {
  background: #02517c !important;
  border-color: #02517c !important;
}

.input::placeholder {
  color: #cacad2 !important;
}
